<section class="w-full max-w-lg mt-8">
  <div class="flex flex-col gap-4 mb-4">
    <input
      placeholder="E-mail"
      autocomplete="off"
      class="flex-1 p-4 border rounded-md text-2xl"
      type="email"
    />

    <input
      placeholder="Senha"
      autocomplete="off"
      class="flex-1 p-4 border rounded-md text-2xl"
      type="password"
    />
  </div>
  <div class="flex justify-end">
    <button class="py-4 px-6 font-medium text-white bg-blue-600 rounded-md">
      Entrar
    </button>
  </div>
</section>
